<title>bootcamp exam</title>
<link href="../static/css/site.css" type="text/css" rel="stylesheet">
</head>

<body>
<div class="container">
  <nav>
      <a href="/">Recruitment</a>
      <ul>
          <li><a href="/">Home </a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/candidates">Candidates</a></li>
          <li><a href="/interviews">Interviews</a></li>
       </ul>
  </nav>

  <main>

    <form class="candidate-form" action="/createCandidate" method="POST">
      <h1>Create Candidate</h1>
      <div>
          <label for="first-name">First Name:</label>
          <input name="first-name" type="text" placeholder="First Name" value="">
      </div>
      <div>
        <label for="last-name">First Name:</label>
        <input name="last-name" type="text" placeholder="Last Name" value="">
    </div>
      <div>
          <label for="email">Email:</label>
          <input name="emali" type="text" placeholder="Email" value="">
      </div>
      <button class="btn" type="submit">Submit</button>
  </form>

  <form class="candidate-form" action="/updateCandidate" method="POST">
    <h1>Create Candidate</h1>
    <div>
        <label for="first-name">First Name:</label>
        <input name="first-name" type="text" placeholder="First Name" value="`${candidate.firstName}`">
    </div>
    <div>
      <label for="first-name">Last Name:</label>
      <input name="first-name" type="text" placeholder="Last Name" value="`${candidate.lastName}`">
  </div>
    <div>
        <label for="email">Email:</label>
        <input name="emali" type="text" placeholder="Email" value="`${candidate.email}`">
    </div>
    <button class="btn" type="submit">Submit</button>
</form>

  </main>
</div>
<footer>
  <div>© 2021
      <a href="https://softuni.bg/trainings/3529/boot-camp">JS Bootcamp</a>
  </div>
</footer>
</div>
</body>

</html>