<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>bootcamp exam</title>
  <link href="../static/css/site.css" type="text/css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <nav>
        <a href="/">Recruitment</a>
        <ul>
            <li><a href="/">Home </a></li>
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="/candidates">Candidates</a></li>
            <li><a href="/interviews">Interviews</a></li>
    
        </ul>
    </nav>

    <main>

      <form class="candidate-form" action="/createCandidate" method="POST">
        <h1>Create Job</h1>
        <div>
            <label for="job-name">Job Name:</label>
            <input name="job-name" type="text" placeholder="Job Name" value="">
        </div>
        <div>
          <label for="description">Description:</label>
          <input name="description" type="text" placeholder="description" value="">
      </div>
        <button class="btn" type="submit">Submit</button>
    </form>

    <form class="candidate-form" action="/createCandidate" method="POST">
      <h1>Update Job</h1>
      <div>
          <label for="job-name">Job Name:</label>
          <input name="job-name" type="text" placeholder="Job Name" value="`{jobName}`">
      </div>
      <div>
        <label for="description">Description:</label>
        <input name="description" type="text" placeholder="description" value="`{description}`">
    </div>
      <button class="btn" type="submit">Submit</button>
  </form>

    </main>
  </div>
  <footer>
    <div>© 2021
        <a href="https://softuni.bg/trainings/3529/boot-camp">JS Bootcamp</a>
    </div>
</footer>
  </div>
</body>

</html>